{% extends "base.html" %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <br/><br/>
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block app_content %}
        <h4>Data File Name:</h4>
        <p>{{ dobj.file_name }}</p>
        <br/>

        <h4>Data URL:</h4>
        <p><a href="{{ dobj.purl }}">{{ dobj.purl }}</a></p>
        <br/>

        <h4>Table Dimensions:</h4>
        {% set rows,cols = dobj.shape %}
        <p>Rows: {{ rows }}, Cols: {{ cols }}</p>
        <br/>

        <h4>Table Attributes:</h4>
        <ol>
        {% for key,type in dobj.dtypes %}
                <li>{{ key }}: {{ type }}</li>
        {% endfor %}
        </ol>
        <br/>

        <h4>Preview:</h4>
        <p>
            <iframe src="{{ h }}" style="height:400px;width:800px;"></iframe>
        </p>
        <br/>

        <h4>Summary Statistics:</h4>
        <p>
            <iframe src="{{ s }}" style="height:400px;width:800px;"></iframe>
        </p>
        <br/>
    {%  endblock app_content %}

</div>
{%  endblock content %}