{% extends "base.html" %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <br/><br/>
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block app_content %}
            <iframe src="{{ url_for("static", filename=f) }}" style="height:630px;width:630px;"></iframe>
    {%  endblock app_content %}

</div>
{%  endblock content %}