{% extends "base.html" %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <br/><br/>
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block app_content %}
        <h4>Table Dimensions:</h4>
        <p>Rows: {{ df.shape[0] }}, Cols: {{ df.shape[1] }}</p>
        <br/>

        <h4>Preview:</h4>
        {{ table|safe }}

        <button onclick="window.location.href='{{ url_for("download") }}';">Download</button>
    {%  endblock app_content %}

</div>
{%  endblock content %}